/* Home Widget Header
-------------------------------------------------------------- */
.header {
  background-color: #ffffff;
  background-image: linear-gradient(to left, #f0f2f1, #d7ffdf);
  .logo {
    a {
      line-height: 92px;
      color: #424242;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      text-decoration: none;
    }
  }
  .nav-wrap {
    float: right;
  }
  ol,
  ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
  }
  #mainnav .menu > li {
    display: inline-block;
  }
  #mainnav .menu > li > a {
    line-height: 92px;
    display: inline-block;
    padding: 0 19.5px;
    color: #424242;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
  }
  #mainnav .menu > li > a:hover {
    color: #18ba60;
  }
}
